.venv
*/.env
.vscode
CI_CD/CI/__pycache__/*
.pytest_cache/
__pycache__/
logs/
sentiment-roberta-finetuned/*
training/sentiment-roberta-finetuned/config.json
training/sentiment-roberta-finetuned/merges.txt
training/sentiment-roberta-finetuned/model.safetensors
training/sentiment-roberta-finetuned/README.md
training/sentiment-roberta-finetuned/special_tokens_map.json
training/sentiment-roberta-finetuned/tokenizer_config.json
training/sentiment-roberta-finetuned/tokenizer.json
training/sentiment-roberta-finetuned/vocab.json
training/sentiment-roberta-finetuned/checkpoint-*/config.json
training/sentiment-roberta-finetuned/checkpoint-*/model.safetensors
training/sentiment-roberta-finetuned/checkpoint-*/optimizer.pt
training/sentiment-roberta-finetuned/checkpoint-*/rng_state.pth
training/sentiment-roberta-finetuned/checkpoint-*/scheduler.pt
training/sentiment-roberta-finetuned/checkpoint-*/trainer_state.json
training/sentiment-roberta-finetuned/checkpoint-*/training_args.bin

