.venv
*/.env
.vscode
CI_CD/CI/__pycache__/*
.pytest_cache/
__pycache__/
logs/
sentiment-roberta-finetuned/*
training/sentiment-roberta-finetuned/config.json
training/sentiment-roberta-finetuned/merges.txt
training/sentiment-roberta-finetuned/model.safetensors
training/sentiment-roberta-finetuned/README.md
training/sentiment-roberta-finetuned/special_tokens_map.json
training/sentiment-roberta-finetuned/tokenizer_config.json
training/sentiment-roberta-finetuned/tokenizer.json
training/sentiment-roberta-finetuned/vocab.json
training/sentiment-roberta-finetuned/checkpoint-16/config.json
training/sentiment-roberta-finetuned/checkpoint-16/model.safetensors
training/sentiment-roberta-finetuned/checkpoint-16/optimizer.pt
training/sentiment-roberta-finetuned/checkpoint-16/rng_state.pth
training/sentiment-roberta-finetuned/checkpoint-16/scheduler.pt
training/sentiment-roberta-finetuned/checkpoint-16/trainer_state.json
training/sentiment-roberta-finetuned/checkpoint-16/training_args.bin
