services:
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    ports:
      - '3000:3000'
    environment:
      - GF_INSTALL_PLUGIN=yesoreyeram-infinity-datasource
    volumes:
      - grafana-storage:/var/lib/grafana
volumes:
  grafana-storage: {}